<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | <%= appName %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= appName %></h1>
    <h2><%= title %></h2>
    <h3><%= videoData.categoryName %></h3>
    <ul>
      <% videoData.categories.forEach(function(d) { %>
        <li><%= d.categoryName %></li>
      <% }); %>
    </ul>
  </body>
</html>
